/* 1.Serif fonts have a small stroke at the edges of each letter. They create a sense of formality and elegance.
2.Sans-serif fonts have clean lines (no small strokes attached). They create a modern and minimalistic look.
3.Monospace fonts - here all the letters have the same fixed width. They create a mechanical look. 
4.Cursive fonts imitate human handwriting.
5.Fantasy fonts are decorative/playful fonts. */
p {
  /* font-size property sets the size of the text ; */
  font-size:20px;
  /* font-style property is mostly used to specify italic text. normal,italic,oblique */
  font-style: italic;
  /* font-weight property specifies the weight of a font: */
  font-weight: bold;
  /* font-variant property specifies whether or not a text should be displayed in a small-caps font. */
  font-variant: small-caps;
  font-family: "Times New Roman";
  /* font-family: "Times New Roman", Times, serif; */
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: "Lucida Console", "Courier New", monospace; */
}

/* Web safe fonts are fonts that are universally installed across all browsers and devices. */

/* There are no 100% completely web safe fonts. There is always a chance that a font is not found or is not installed properly.herefore, it is very important to always use fallback fonts.This means that you should add a list of similar "backup fonts" in the font-family property. If the first font does not work, the browser will try the next one, and the next one, and so on. Always end the list with a generic font family name. */

/* If you do not want to use any of the standard fonts in HTML, you can use Google Fonts.
Google Fonts are free to use, and have more than 1000 fonts to choose from. */
/* <head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<style>
body {
  font-family: "Sofia", sans-serif;
}
</style>
</head> */

/* The font property is a shorthand property for:
font-style
font-variant
font-weight
font-size/line-height
font-family */
h2{
  font: italic normal bold 12px/30px "Time new Roman", serif;
}