html {
  height: 100%;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* The CSS Grid Layout Module offers a grid-based layout system, with rows and columns, making it easier to design web pages without having to use floats and positioning. */
.box{
  display: grid;
  background-color: yellow;
  grid-row-gap: 9px;
  grid-column-gap:9px ;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}
.item{
  background-color: green;
  border:solid;
  /* grid-column:1/2; */
  /* grid-row: 1/1; */
  
}